/* add this as a background color #e0f7fa */

html {
    font-size: 16px;
}

/* Google fonts */
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 1000 */

.body-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <whatever>; */
  font-style: normal;
  background-color: #e0f7fa;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: normal;
}









/* The two boxes */
#main {
    display: flex;
    justify-content: space-between;
    /* border: 10px solid transparent; */

    /* same border radius as the main elements displayed on page */
    /* border-radius: 30px; */

    /* box-shadow: 0 0 50px 15px #48abe0; */
    /* box-shadow: 0 0 50px 15px rgba(255, 166, 0, 0.291); */

    /* background-color: transparent; */

    /* making the box smaller */
    width: 93%;
    height: auto;
    /* centering everything */
    margin: 0 auto;
}

#main div {
    /* border: 5px solid #e0f7fa; */
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
}










/* the different seperate sections of the webpage */
#home-page-main {
    min-height: 100vh;
    /* width: 100%; */
    background: linear-gradient(#e0f7fa, rgba(91, 163, 252, 0.597));
}

#home-page-details {
    background: linear-gradient(rgba(91, 164, 252, 0.5), #e0f7fa);
}










/* Modifying the actual boxes' content */
.inside {
    display: inline-block;
    padding: 15px;

    /* NOTE: 1rem = 16px (the html font size) */
    width: 50%;
    height: 31.25rem; 

    vertical-align: top;
    margin-top: 30px;
}

.inside-left{
    background-color: #65c0f5;
    box-shadow: 12px 12px 2px 1px #48abe0;
    /* box-shadow: 0 0 50px 15px #48abe0; */

    margin-right: 20px;
    /* width: 20%; */
}

.inside-right{
    background-color: #ffa726;
    box-shadow: 12px 12px 2px 1px #e0851f;
    /* box-shadow: 0 0 50px 5px #e0851f; */

    margin-left: 20px
}

/* image stuff */
.inside-right img {
    display: block;
    /* centers the image */
    margin-left: auto; 
    margin-right: auto;

    /* allows it to retain its aspect ratio while staying within the div */
    width: auto;
    height: 100%;

    /* making it pretty */
    border: 10px solid white;
    border-radius: 10px;
 }
 
 #below-avatar {
    display: none;
 }

#slogan {
    font-weight: 1000;
    color: white;
    font-size: 60px;
}

#slogan-inner {
    text-decoration: none;
    text-decoration-color: underline 20px rgba(0, 0, 0, 0);
    transition: color 300ms ease-in-out;
}

.slogan-you-visible {
    /* text-decoration: underline !important;
    text-decoration-color: underline 20px white !important; */
    color: #ff7043;

    /* text-shadow: rgba(255,168,38,0.9) 0px 0px 39px; */
    /* from https://unused-css.com/tools/text-shadow-generator?p=21AwAlCZgBwDxBiA7AM2MZyA0pQGZpzwCcAHLgIwbZggAsBCAhgMYCsRGQA */
    text-shadow: 0 0 10px rgba(255,168,38,0.9), 0 0 30px rgba(255,225,0,0.5);
}

/* interactivity in the slogan (left) box */
#div-interactive {
    display: flex;
    flex-direction: column;
    border-color: rgba(0,0,0,0) !important;
}

#button-interactive {
    /* make color dark blue */
    color: #ff7043;
    font-weight: 1000;

    width: 100%;

    /* make a clear background */
    background-color: #01579b;
    /* making the border */
    border: 2px solid #01579b;
    border-radius: 10px;

    /* transitions */
    transform: translateY(0px);
    transition: box-shadow 150ms ease-in, color 150ms ease-in, transform 150ms ease-in;
}

#text-interactive {
    text-align: center;
}

#link-interactive {
    color: #01579b;

    /* transitions */
    transition: color 150ms ease-in;
}

/* on hover transitions for interactives */
#button-interactive:hover {
    color: white;
    text-shadow: rgba(247, 247, 247, 0.9) 0px 0px 39px;

    box-shadow: 8px -8px 1px 1px #e0851f;
    transform: translateY(-2px);
}

#link-interactive:hover {
    color: #ff7043;
}









/* NAV bar stuff */
#nav-top {
    /* We don't need a color for this, it was just to show the area of the border */
    /* border: 1px solid red; */
    border: 1px solid rgba(0, 0, 0, 0);

    /* Applies 10px margin to ALL sides */
    margin: 10px;

}

.navbar-nav a {
    color: white;
}

.nav-link:hover {
    color: #ffa726 !important;
}

#nav {
    /* border: 10px solid red; */
    border-radius: 10px;
    margin-top: 5px;
    background-color: #01579b;

}

#nav-text {
    color: white;
    /* text-align: right;
    display: block; */
    padding: 5px;
}

#nav-logo {
    border-radius: 10px;
    height: 30px;
    margin-left: 10px;
}

#nav-toggler {
    margin-right: 10px;
}

#links {
    /* display: inline-block; */
    padding-left: 5px;
}







/* the app-store logos section! */
#app-stores {
    position: relative;
    /* top: 13vh; */

    /* moving the images down */
    top: 80px;
}

/* setting image sizes */
#google-play img, #ios-appstore img {
    height: 55px;
    width: auto;
    object-fit: contain;

}

/* organizing how image divs align content */
#google-play {
    text-align: right;
}

#ios-appstore {
    text-align: left;
}

/* remove the padding around the default btn style */
#google-play a, #ios-appstore a {
    padding: 0;
    transform: translateY(0px);
    transition: box-shadow 150ms ease-out, transform 150ms ease-out;
}

/* highlight the icons when they are hovered */
#google-play a:hover, #ios-appstore a:hover {
    box-shadow: 12px 12px 2px 1px #e0851f;
    transform: translateY(-5px);
}




/* inside the shirt section */
#inside-shirt {
    background-color: green;
    /* width: 80%; */
    height: 500px;
    /* margin-bottom: 300px; */

}





/* the details section! */
#parent {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* setting positon to be relative so that we can overlay a div on top of the image. This is the parent for both items */
    position: relative;
    margin: auto;
}

/* background img stuff */
#background-img-details {
    /* sets the position of the image */
    position: absolute;

    /* sets the sizing */
    width: 100%;
    height: auto;
    
}


#background-img-details img {
    display: block;
    /* sizing */
    width: 100%;
    height: auto;
}



/* use vh for relative sizing compared to viewport */

/* main text */
#main-text {
    /* makes the divs go beside each other */
    display: inline-block;

    /* adding background color to match shirt */
    /* we add it here because then it applies the color only to the part where we want to display stuff. Otherwise, it overlaps with the shirt */
    background-color: #65c0f5;

    /* adding padding to make it look nice. We do 3.5% because the above section has 93% (7% taken off), so we do 7/2 = 3.5 */
    padding: 3.5%;

    /* makes the text go on top of the image */
    z-index: 1;

    
}

/* modifying how the sections are displayed */
#main-text .row {
    
    /* each div takes 50% of avaliable space */
    /* width: 50%; */
    background-color: #e0f7fa;
}

#section2,  #section3 {
    margin-top: 30px;
}











/* Classes to hide/show items */
.fade-in {
    /* hides the item */
    opacity: 0;

    /* adds movement for a dynamic effect */
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;

}

.visible {
    /* makes the item visible */
    opacity: 1;
    transform: translateY(0px);
}










/* Dynamic website styling */

/* XLg */

/* Lg */

/* from 860px + to (max value) */
/* Med2 */
@media (width) and (width > 860px) {
    #slogan {
        font-size: 80px;
        /* border: solid 200px blue; */
    }

    .inside {
        width: auto;
    }

    /* the avatar side */
    .inside-left {
        width: 60%;
    }
    
    /* the slogan side */
    .inside-right {
        width: 40%;
    }
}
/* from 750px+ to 860px */
/* Med1 */
@media (width <= 860px) and (width > 750px) {
    #slogan {
        font-size: 70px;
        /* border: solid 200px blue; */
    }
    
    .inside {
        width: auto;
    }

    /* the avatar side */
    .inside-left {
        width: 60%;
    }
    
    /* the slogan side */
    .inside-right {
        width: 40%;
    }
}

/* from 600px + to 750px */
/* Small */
@media (width <= 750px ) and (width > 600px) {
    /* just use default values */
}

/* from (min value) to 600px */
/* XSmall */
@media (width <= 600px) {
#slogan {
        font-size: 50px;
        /* border: solid 200px blue; */
    }
    
    .inside {
        width: auto;
    }

    /* the avatar side */
    .inside-left {
        width: 60%;
    }
    
    /* the slogan side */
    .inside-right {
        width: 40%;
    }

    /* image of avatar */
    .inside-right img {
        height: 50%;
    }

    #below-avatar {
        display: block;
        text-align: center;
    }

    /* move the interactive button and sign-in link to the bottom of the div */
    #div-interactive {
        margin-top: 45px;
    }
}

/* NOTES */
/* 
variables that need to be dynamic: 

add some variable here
and here
and...

*/